# Configuration file

general {
    S:modPack=Vanilla
    S:modPackVersion=1.0
    B:spammyLogs=false

    optout {
        B:OS=false
        B:clientTime=false
        B:environment=false
        B:installID=false
        B:javaVersion=false
        B:minecraftVersion=false
        B:modPack=false
        B:modPackVersion=false
        B:ramAllocated=false
        B:ramMax=false
        B:sessionID=false

        mods {
            B:FML=false
            B:OpenEye=false
            B:actuallyadditions=false
            B:actuallybaubles=false
            B:advanced_machines=false
            B:ae2stuff=false
            B:aether=false
            B:akashictome=false
            B:animus=false
            B:applecore=false
            B:appleskin=false
            B:appliedenergistics2=false
            B:appliedintegrations=false
            B:armoryexpansion=false
            B:armoryexpansion-conarm=false
            B:armoryexpansion-custommaterials=false
            B:armoryexpansion-iceandfire=false
            B:aroma1997core=false
            B:aroma1997sdimension=false
            B:autoreglib=false
            B:badwithernocookiereloaded=false
            B:base=false
            B:baubles=false
            B:bdlib=false
            B:betteradvancements=false
            B:betterbuilderswands=false
            B:bibliocraft=false
            B:bigreactors=false
            B:binniecore=false
            B:binniedesign=false
            B:biomesoplenty=false
            B:blockcraftery=false
            B:bloodmagic=false
            B:bloodtinker=false
            B:bluepower=false
            B:bookshelf=false
            B:botania=false
            B:botany=false
            B:brandonscore=false
            B:caliper=false
            B:careerbees=false
            B:cctweaked=false
            B:chisel=false
            B:chiselsandbits=false
            B:chunkpregenerator=false
            B:clienttweaks=false
            B:clumps=false
            B:codechickenlib=false
            B:cofhcore=false
            B:cofhworld=false
            B:commoncapabilities=false
            B:compactmachines3=false
            B:compactsolars=false
            B:computercraft=false
            B:conarm=false
            B:concheckrmd=false
            B:contenttweaker=false
            B:controlling=false
            B:crafttweaker=false
            B:crafttweakerjei=false
            B:csb_ench_table=false
            B:ctgui=false
            B:ctm=false
            B:cucumber=false
            B:custombackgrounds=false
            B:custommainmenu=false
            B:cyclicmagic=false
            B:cyclopscore=false
            B:ding=false
            B:discordsuite=false
            B:dldungeonsjbg=false
            B:draconicevolution=false
            B:eioocshim=false
            B:elevatorid=false
            B:embers=false
            B:emberstic=false
            B:endercore=false
            B:enderio=false
            B:enderiobase=false
            B:enderioconduits=false
            B:enderioconduitsappliedenergistics=false
            B:enderioconduitsopencomputers=false
            B:enderiointegrationforestry=false
            B:enderiointegrationtic=false
            B:enderiointegrationticlate=false
            B:enderiomachines=false
            B:enderiopowertools=false
            B:exchangers=false
            B:exnihilocreatio=false
            B:expequiv=false
            B:extrabees=false
            B:extrabotany=false
            B:extracells=false
            B:extratrees=false
            B:extrautils2=false
            B:fastbench=false
            B:fastfurnace=false
            B:fastleafdecay=false
            B:flyringbaublemod=false
            B:foamfix=false
            B:foamfixcore=false
            B:forestry=false
            B:forge=false
            B:forgelin=false
            B:forgemultipartcbe=false
            B:ftbbackups=false
            B:ftblib=false
            B:ftbutilities=false
            B:gendustry=false
            B:gendustryjei=false
            B:genetics=false
            B:gravisuite=false
            B:gregtech=false
            B:gtadditions=false
            B:guideapi=false
            B:hammercore=false
            B:harvestcraft=false
            B:ic2=false
            B:ichunutil=false
            B:immersivecables=false
            B:immersiveengineering=false
            B:immersivepetroleum=false
            B:immersivetech=false
            B:industrialforegoing=false
            B:industrialwires=false
            B:initialinventory=false
            B:integratedcrafting=false
            B:integrateddynamics=false
            B:integrateddynamicscompat=false
            B:integratedrest=false
            B:integratedterminals=false
            B:integratedterminalscompat=false
            B:integratedtunnels=false
            B:integratedtunnelscompat=false
            B:integrationforegoing=false
            B:inventorytweaks=false
            B:ironbackpacks=false
            B:ironchest=false
            B:itlt=false
            B:ivtoolkit=false
            B:jaopca=false
            B:jaopcaadditions=false
            B:jee=false
            B:jehc=false
            B:jei=false
            B:jeibees=false
            B:jeiintegration=false
            B:jeresources=false
            B:journeymap=false
            B:justenoughdimensions=false
            B:justenoughpetroleum=false
            B:justenoughreactors=false
            B:kythsopmoss=false
            B:loottweaker=false
            B:magicbees=false
            B:mantle=false
            B:mcjtylib_ng=false
            B:mcmultipart=false
            B:mcp=false
            B:mekanism=false
            B:mekanismgenerators=false
            B:mekanismtools=false
            B:mercurius=false
            B:metallurgy=false
            B:microblockcbe=false
            B:minecraft=false
            B:minecraftmultipartcbe=false
            B:modlister=false
            B:modnametooltip=false
            B:modtweaker=false
            B:modularforcefieldsystem=false
            B:morebees=false
            B:moreoverlays=false
            B:morph=false
            B:morpheus=false
            B:morphtool=false
            B:mousetweaks=false
            B:mpbasic=false
            B:mputils=false
            B:mrtjpcore=false
            B:mtlib=false
            B:mystcraft=false
            B:mysticallib=false
            B:natura=false
            B:neat=false
            B:neid=false
            B:numina=false
            B:ocsensors=false
            B:ocxnetdriver=false
            B:oeintegration=false
            B:openblocks=false
            B:opencomputers=false
            B:"opencomputers|core"=false
            B:openmods=false
            B:openmodscore=false
            B:openprinter=false
            B:opensecurity=false
            B:orbis-lib=false
            B:oredictinit=false
            B:oreexcavation=false
            B:p455w0rdslib=false
            B:packcrashinfo=false
            B:pamscookables=false
            B:phosphor-lighting=false
            B:placebo=false
            B:plethora=false
            B:plethora-core=false
            B:plustic=false
            B:pneumaticcraft=false
            B:portalgun=false
            B:poweradapters=false
            B:powersuits=false
            B:projecte=false
            B:projectred-compat=false
            B:projectred-core=false
            B:projectred-expansion=false
            B:projectred-exploration=false
            B:projectred-fabrication=false
            B:projectred-illumination=false
            B:projectred-integration=false
            B:projectred-relocation=false
            B:projectred-transmission=false
            B:projectred-transportation=false
            B:projectx=false
            B:psi=false
            B:ptrmodellib=false
            B:quark=false
            B:railcraft=false
            B:reauth=false
            B:reccomplex=false
            B:redstoneflux=false
            B:rftools=false
            B:rftoolscontrol=false
            B:rftoolsdim=false
            B:rftoolspower=false
            B:rftpwroc=false
            B:roots=false
            B:silverfish=false
            B:solcarrot=false
            B:soulshardsrespawn=false
            B:surge=false
            B:taiga=false
            B:tc6aspects4jei=false
            B:tcinventoryscan=false
            B:tcomplement=false
            B:tconstruct=false
            B:teslacorelib=false
            B:teslacorelib_registries=false
            B:thaumcomp=false
            B:thaumcraft=false
            B:thaumic_arcana=false
            B:thaumicenergistics=false
            B:thaumicjei=false
            B:thaumicperiphery=false
            B:thaumicrestoration=false
            B:thaumicterminal=false
            B:thaumictinkerer=false
            B:thermalcultivation=false
            B:thermaldynamics=false
            B:thermalexpansion=false
            B:thermalfoundation=false
            B:thermalinnovation=false
            B:thermallogistics=false
            B:thermaltinkering=false
            B:tinker_io=false
            B:tinkersaddons=false
            B:tinkersjei=false
            B:tinkersoc=false
            B:tinkertoolleveling=false
            B:treechopper=false
            B:twilightforest=false
            B:unidict=false
            B:universalmodifiers=false
            B:unloader=false
            B:valkyrielib=false
            B:waila=false
            B:wailaharvestability=false
            B:wanionlib=false
            B:wawla=false
            B:waystones=false
            B:wrapup=false
            B:wrcbe=false
            B:xnet=false
            B:xreliquary=false
            B:yabba=false
            B:ynot=false
            B:zerocore=false
        }

    }

}


